/*File CSS*/


body{
    font-family: system-ui;
    font-size: 16px;
    background-color: #424874;
}

main {
    max-width: 600px;
    justify-self: center;

    /* Backgrpund Matter */
    background-color: #d0d5ef;
    border-radius: 10px;
}

.main-header {
    text-align: center;
    color: #d0d5ef
}

section {
    padding: 8px;
    color: #3b335e;
    font-weight: 550;
}

.suhu

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid #231e459a;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=number]:focus {
    border: 3px solid #e3e2f0;
  }

.button-group {
    margin-top: 6px;
    
}

button {
    border: none;
    padding: 7px;
    border-radius: 4px;
    margin-right: 5px;
    
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.bg-blue {
    background-color: #ca9cff;
    font-size: 15px;
    font-family: system-ui;
    color: #3b335e;
    font-weight: 500;
    margin-left: 4px;
    
}

.bg-gray {
    background-color: #b07cf8;
    font-size: 15px;
    font-family: system-ui;
    color: #3b335e;
    font-weight: 500;
   
}

.bg-green {
    background-color: #b157f0;
    font-size: 15px;
    font-family: system-ui;
    color: #3b335e;
    font-weight: 500;
}

.cara-konver {
    padding-top: 200px;
}

.remark {
    font-weight: bold;
    font-size: larger;
}

#main-input {
    font-family: monospace;
    font-size: 16px;
}

#main-result {
    font-family: monospace;
    font-size: 16px;
}

#how-result {
    font-family: monospace;
    font-size: 16px;
}



#rumus {
    justify-self: center;
    background-color: rgb(248, 214, 251);
}


footer {
    font-weight: bold;
    font-size: larger;
    padding-top: 200px;
    text-align: center;
    color: white
}